<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Width" value="100"/>
    <add key="Height" value="100"/>

    <add key="ColorBackground" value="DarkGray" />
    <add key="ColorOverlay" value="#FF303030" />

    <add key="ColorLineMax" value="Red" />
    <add key="ColorLinePrev" value="Blue" />

    <add key="ColorBarMeterLow" value="LightGreen" />
    <add key="ColorBarMeterMid" value="Yellow" />
    <add key="ColorBarMeterHigh" value="DarkRed" />
  </appSettings>
</configuration>