<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Width" value="100"/>
    <add key="Height" value="100"/>
    <add key="ColorBackground" value="DarkGray" />
    <add key="ColorMax" value="Red" />
    <add key="ColorPrev" value="Blue" />
    <add key="ColorLines" value="#FF303030" />
  </appSettings>
</configuration>